* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left, #6699ff 0%, #ff99cc 100%);
/*    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);*/
}

.wrapper {
    width: 460px;
    background: transparent;
    color: #000000;
    border-radius: 12px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

    .wrapper h1 {
        font-size: 36px;
        text-align: center;
    }

    .wrapper .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }

.input-box label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

    .input-box input::placeholder {
        color: #fff;
    }

.input-box i {
    position: absolute;
    right: 20px;
    top: 95%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.wrapper .btn-register {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .login-link {
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

    .login-link p a:hover {
        text-decoration: underline;
    }

.alert {
    margin-top: 40px;
    margin-bottom: 10px;
    color: red;
}

.btn-register[disabled] {
    background-color: #ccc; /* Đổi màu nền thành xám */
}

.btn-register.active {
    background-color: #fff; /* Đổi màu nền thành trắng */
}

