@page
@model OpusLink.User.Hosted.Pages.Account.ForgotPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu | Opuslink Team</title>
    <link rel="stylesheet" href="~/css/Login.css">
    <script src="https://kit.fontawesome.com/10f63c3d6e.js" crossorigin="anonymous"></script>
    <script>
        window.onload = function () {
            document.getElementById('Email').value = ''
        };
    </script>
</head>
<body>
    <div class="wrapper container-fluid">
        <form method="post">
            <h1>Quên mật khẩu | Opuslink</h1>
            <div class="input-box">
                <label class="label">Email của bạn</label>
                <input type="email" placeholder="Nhập Email của bạn" id="Email" name="Email" required>
                <i class="fa-solid fa-envelope"></i>
            </div>
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
            <button type="submit" class="btn-login">Yêu cầu đổi mật khẩu</button>
        </form>
    </div>
</body>
</html>
