@page
@model OpusLink.User.Hosted.Pages.Account.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký | Opuslink Team</title>
    <link rel="stylesheet" href="~/css/Register.css">
    <script src="https://kit.fontawesome.com/10f63c3d6e.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<script>
    function checkPasswordLength() {
        var passwordInput = document.getElementById("Password");
    var password = passwordInput.value;
    var errorElement = document.getElementById("passwordError");
    var hasLength = password.length >= 6;
    var hasSpecialChar = /[ `!#$%^&*()_+\-=\@@[\]{};':"\\|,.<>\/?~]/.test(password);
    var hasNumber = /\d/.test(password);
    var hasUpperCase = /[A-Z]/.test(password);
    var hasLowerCase = /[a-z]/.test(password);
    if (!hasLength) {
        errorElement.innerText = "Mật khẩu phải dài ít nhất 6 ký tự.";
    } else if (!hasSpecialChar) {
        errorElement.innerText = "Mật khẩu phải chứa ít nhất một ký tự đặc biệt";
    } else if (!hasNumber) {
        errorElement.innerText = "Mật khẩu phải chứa ít nhất một số.";
    } else if (!hasUpperCase || !hasLowerCase) {
        errorElement.innerText = "Mật khẩu phải chứa ít nhất một chữ cái viết hoa và một chữ cái viết thường.";
    } else {
        errorElement.innerText = "";
    }
        // Kiểm tra xem có lỗi không
        var hasError = errorElement.innerText !== "";

        // Tùy chỉnh thuộc tính disabled của nút đăng ký tài khoản
        var registerButton = document.getElementById("registerButton");
        registerButton.disabled = hasError;
    }

    function togglePasswordVisibility(inputId, iconId) {
        var passwordInput = document.getElementById(inputId);
        var icon = document.getElementById(iconId);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        }
    }

    window.onload = function () {
        document.getElementById('UserName').value = ''
        document.getElementById('Email').value = ''
        document.getElementById('Password').value = ''
        document.getElementById('ConfirmPassword').value = ''
    };

    function validatePasswords() {
        var password = document.getElementById("Password").value;
        var confirmPassword = document.getElementById("ConfirmPassword").value;
        var confirmPasswordError = document.getElementById("confirmPasswordError");

        // Kiểm tra mật khẩu nhập lại có trùng khớp với mật khẩu không
        if (password !== confirmPassword) {
            confirmPasswordError.innerText = "Nhập lại mật khẩu không khớp với mật khẩu";
        } else {
            confirmPasswordError.innerText = "";
        }

        // Kiểm tra xem có lỗi nào xuất hiện không
        var hasPasswordError = document.getElementById("passwordError").innerText !== "";
        var hasConfirmPasswordError = confirmPasswordError.innerText !== "";

        // Tùy chỉnh thuộc tính disabled của nút đăng ký tài khoản
        var registerButton = document.getElementById("registerButton");
        registerButton.disabled = hasPasswordError || hasConfirmPasswordError;

        updateRegisterButtonStyle();
    }

    function updateRegisterButtonStyle() {
        var registerButton = document.getElementById("registerButton");
        var hasError = document.querySelectorAll('.error-message').length > 0 || document.querySelectorAll('input:invalid').length > 0;
        var allInputsFilled = document.querySelectorAll('input:required').length === document.querySelectorAll('input:required:valid').length;

        if (hasError || !allInputsFilled) {
            registerButton.classList.remove("active");
        } else {
            registerButton.classList.add("active");
        }
    }
</script>
<script>
    $(function () {
        // Kích hoạt Datepicker trên input với id 'Birthdate'
        $("#Birthdate").datepicker({
            dateFormat: "dd/mm/yy", // Định dạng ngày
            onSelect: function (dateText, inst) {
                // Tách ngày, tháng và năm từ ngày đã chọn
                var parts = dateText.split('/');
                var day = parts[0];
                var month = parts[1];
                var year = parts[2];

                // Chuyển đổi sang định dạng yyyy-MM-dd
                var formattedDate = year + "-" + month + "-" + day;

                // Cập nhật giá trị của input với định dạng đã chuyển đổi
                $(this).val(formattedDate);
            },
            // Ngăn chặn sự kiện mặc định của phím Enter
            onClose: function (selectedDate) {
                $("#Birthdate").datepicker("widget").off("keydown");
            }
        });

        // Gắn sự kiện click vào biểu tượng
        $("#custom-calendar-icon").click(function () {
            // Kích hoạt Datepicker khi nhấp vào biểu tượng
            $("#Birthdate").datepicker("show");
        });
    });
</script>
<script>
    function checkUsername() {
        var usernameInput = document.getElementById("UserName");
        var username = usernameInput.value.trim(); // Lấy giá trị và loại bỏ dấu cách ở đầu và cuối chuỗi
        var errorElement = document.getElementById("usernameError");
        if (username.includes(" ")) {
            errorElement.innerText = "Tên đăng nhập không được chứa kí tự trắng";
        } else {
            errorElement.innerText = ""; // Xóa thông báo lỗi nếu không có kí tự trắng
        }
        // Kiểm tra xem có lỗi không
        var hasError = errorElement.innerText !== "";

        // Tùy chỉnh thuộc tính disabled của nút đăng ký tài khoản
        var registerButton = document.getElementById("registerButton");
        registerButton.disabled = hasError;
    }

</script>

<body>
    <div class="wrapper">
        <form method="post">
            <h1>Đăng ký | Opuslink</h1>
            <div class="input-box">
                <label class="label">Tên đăng nhập <span style="color: red;">(*)</span></label>
                <input type="text" placeholder="Nhập tên đăng nhập" id="UserName" name="Username" required onchange="checkUsername()">
                <i class="fa-solid fa-user"></i>
            </div>
            <div id="usernameError" class="alert alert-danger error-message"></div>
            <div class="input-box">
                <label class="label">Email <span style="color: red;">(*)</span></label>
                <input type="email" placeholder="Nhập email" id="Email" name="Email" required onblur="validateEmail()">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-box">
                <label class="label">Ngày sinh của bạn</label>
                <input type="date" placeholder="Nhập ngày/tháng/năm sinh của bạn" id="Birthdate" name="Birthdate" required>
                <i class="fa-solid fa-calendar-days" id="custom-calendar-icon"></i>
            </div>
            <div class="input-box">
                <label class="label">Mật khẩu</label>
                <input type="password" placeholder="Nhập mật khẩu" id="Password" name="Password" required onchange="checkPasswordLength(); validatePasswords();">
                <i class="fa-solid fa-eye-slash" id="eyeIcon" onclick="togglePasswordVisibility('Password', 'eyeIcon')"></i>
            </div>
            <div id="passwordError" class="alert alert-danger error-message"></div>
            <div class="input-box">
                <label class="label">Nhập lại mật khẩu</label>
                <input type="password" placeholder="Nhập lại mật khẩu" id="ConfirmPassword" name="ConfirmPassword" required onchange="validatePasswords()">
                <i class="fa-solid fa-eye-slash" id="eyeIcon1" onclick="togglePasswordVisibility('ConfirmPassword', 'eyeIcon1')"></i>
            </div>
            <div id="confirmPasswordError" class="alert alert-danger error-message"></div>
            @if (ViewData["Success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewData["Success"]
                </div>
            }
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
            <button id="registerButton" type="submit" class="btn-register" disabled>Đăng ký tài khoản</button>
            <div class="login-link">
                <p>Bạn đã có tài khoản rồi? <a asp-page="/Account/Login">Đăng nhập ngay!</a></p>
            </div>
            <div>
                <p>Lưu ý : Phần <span style="color: red;">(*)</span> không được được trùng với các tài khoản khác</p>
            </div>
        </form>
    </div>
</body>
</html>
