@page
@model OpusLink.User.Hosted.Pages.Account.ResetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu | Opuslink Team</title>
    <link rel="stylesheet" href="~/css/Login.css">
    <script src="https://kit.fontawesome.com/10f63c3d6e.js" crossorigin="anonymous"></script>
    <script>
        function checkPasswordLength() {
            var passwordInput = document.getElementById("Password");
            var password = passwordInput.value;
            var errorElement = document.getElementById("passwordError");
            var hasLength = password.length >= 6;
            var hasSpecialChar = /[ `!#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/.test(password);
            var hasNumber = /\d/.test(password);
            var hasUpperCase = /[A-Z]/.test(password);
            var hasLowerCase = /[a-z]/.test(password);
            if (!hasLength) {
                errorElement.innerText = "Mật khẩu phải dài ít nhất 6 ký tự.";
            } else if (!hasSpecialChar) {
                errorElement.innerText = "Mật khẩu phải chứa ít nhất một ký tự đặc biệt.Trừ ký tự @@";
            } else if (!hasNumber) {
                errorElement.innerText = "Mật khẩu phải chứa ít nhất một số.";
            } else if (!hasUpperCase || !hasLowerCase) {
                errorElement.innerText = "Mật khẩu phải chứa ít nhất một chữ cái viết hoa và một chữ cái viết thường.";
            } else {
                errorElement.innerText = "";
            }
        }

        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("Password");
            var icon = document.getElementById("eyeIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            }
        }
    </script>
</head>
<body>
    <div class="wrapper container-fluid">
        <form method="post">
            <h1>Đặt lại mật khẩu của bạn | Opuslink</h1>
            <div class="input-box">
                <label class="label">Mật khẩu</label>
                <input type="password" placeholder="Nhập mật khẩu" id="Password" name="Password" required onchange="checkPasswordLength()">
                <i class="fa-solid fa-eye-slash" id="eyeIcon" onclick="togglePasswordVisibility()"></i>
            </div>
            <div id="passwordError" class="alert alert-danger error-message"></div>
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
            <button type="submit" class="btn-login">Xác nhận</button>
        </form>
    </div>
</body>
</html>
