@page
@model OpusLink.User.Hosted.Pages.Account.ResetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu - Opuslink</title>
    <link rel="stylesheet" href="~/css/Account.css">
    <script src="https://kit.fontawesome.com/10f63c3d6e.js" crossorigin="anonymous"></script>
    <script>
        function checkPasswordLength() {
            var password = document.getElementById("Password").value;
            var errorElement = document.getElementById("passwordError");

            var hasLength = password.length >= 6;
            var hasSpecialChar = /[ `!#$%^&*()_+\-=\@@[\]{};':"\\|,.<>\/?~]/.test(password);
            var hasNumber = /\d/.test(password);
            var hasUpperCase = /[A-Z]/.test(password);
            var hasLowerCase = /[a-z]/.test(password);

            if (!hasLength || !hasSpecialChar || !hasNumber || !hasUpperCase || !hasLowerCase) {
                errorElement.innerText = "Mật khẩu phải dài ít nhất 6 ký tự.\n" +
                    "Mật khẩu phải chứa ký tự đặc biệt.\n" +
                    "Mật khẩu phải chứa số.\n" +
                    "Mật khẩu phải chứa chữ cái viết hoa và chữ cái viết thường.";
            } else {
                errorElement.innerText = "";
            }
            checkInputs();
        }

        function togglePasswordVisibility(inputId, iconId) {
            var passwordInput = document.getElementById(inputId);
            var icon = document.getElementById(iconId);

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            }
        }

        function validatePasswords() {
            var password = document.getElementById("Password").value;
            var confirmPassword = document.getElementById("ConfirmPassword").value;
            var confirmPasswordError = document.getElementById("confirmPasswordError");

            if (password !== confirmPassword) {
                confirmPasswordError.innerText = "Nhập lại mật khẩu không khớp với mật khẩu";
            } else {
                confirmPasswordError.innerText = "";
            }
            checkInputs();
        }

        function checkInputs() {
            var allInputsFilled = true;
            var hasError = false;

            // Kiểm tra xem các ô input đã được điền hết và không có lỗi nào được báo
            var inputs = document.querySelectorAll('input:required');
            inputs.forEach(function (input) {
                if (!input.value || input.classList.contains('invalid')) {
                    allInputsFilled = false;
                }
            });

            var errorMessages = document.querySelectorAll('.error-message');
            errorMessages.forEach(function (message) {
                if (message.innerText !== "") {
                    hasError = true;
                }
            });

            // Tùy chỉnh thuộc tính disabled của nút đăng ký tài khoản
            var registerButton = document.getElementById("registerButton");
            registerButton.disabled = hasError || !allInputsFilled;

            // Tùy chỉnh lớp CSS của nút đăng ký tài khoản
            if (hasError || !allInputsFilled) {
                registerButton.classList.remove("active");
            } else {
                registerButton.classList.add("active");
            }
        }

        window.onload = function () {
            document.getElementById('Password').value = ''
            document.getElementById('ConfirmPassword').value = ''
        };
    </script>
</head>
<body>
    <div class="wrapper container-fluid">
        <form method="post">
            <h1>Đặt lại mật khẩu</h1>
            <div class="input-box">
                <label class="label">Mật khẩu mới</label>
                <input type="password" placeholder="Nhập mật khẩu mới" id="Password" name="Password" required onchange="checkPasswordLength(); validatePasswords();" oninput="checkInputs()">
                <i class="fa-solid fa-eye-slash" id="eyeIcon" onclick="togglePasswordVisibility('Password', 'eyeIcon')"></i>
            </div>
            <div id="passwordError" class="alert alert-danger error-message"></div>

            <div class="input-box">
                <label class="label">Nhập lại mật khẩu</label>
                <input type="password" placeholder="Nhập lại mật khẩu" id="ConfirmPassword" name="ConfirmPassword" required onchange="validatePasswords()" oninput="checkInputs()">
                <i class="fa-solid fa-eye-slash" id="eyeIcon1" onclick="togglePasswordVisibility('ConfirmPassword', 'eyeIcon1')"></i>
            </div>
            <div id="confirmPasswordError" class="alert alert-danger error-message"></div>

            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
            <button id="registerButton" type="submit" class="btn-confirm" disabled>Xác nhận</button>
        </form>
    </div>
</body>
</html>
