@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<form method="post">
    <button type="submit"> login success </button>
</form>

<script>
    window.onload = function (){
        document.getElementById("headerOfLayoutPage").style.display = "none";
        document.getElementById("footerOfLayoutPage").style.display = "none";
    }
</script>