@page
@model PrivacyModel
@{
    ViewData["Title"] = "Giải thích luồng hoạt động";
}
<div style="width:80%;margin:auto">
<h1>@ViewData["Title"]</h1>

<h2>1, Đăng việc</h2>
Một Job được bắt đầu bằng việc đăng lên website. Phí của mỗi lần yêu cầu đăng việc sẽ là 50.000 đồng. Sau khi yêu cầu đăng việc được Admin chấp nhận thì Job sẽ có thời hạn 7 ngày để nhận Offer từ Freelancer.

<h2>2, Sửa việc</h2>
Employer có thể sửa Job trong khi Job ở trạng thái chờ được Admin duyệt. Thời điểm này Employer có thể sửa việc mà không mất phí.
<br>
Khi Job đã được Admin duyệt và Employer chưa chọn Freelancer. Employer có thể chỉnh sửa nội dung của Job. Nhưng sẽ bị mất phí 50.000 đồng và phải chờ được Admin duyệt. Sau khi admin duyệt thì Job lại có 7 ngày để nhận Offer từ Freelancer.

<h2>3, Nhận Offer</h2>
Trong thời gian 7 ngày sau khi Job được Admin duyệt, Freelancer có thể tạo Offer cho Job. Mỗi một Freelancer chỉ có một Offer cho một Job. Sau khi tạo Offer thì Freelancer có thể sửa lại nếu thỏa mãn đủ 3 điều kiện:
<br>
- Job còn hạn 7 ngày nhận Offer.
<br>
- Employer chưa thống nhất plan với một Freelancer nào
<br>
- Freelancer này chưa được Employer chọn

<h2>3, Employer chọn Freelancer cho Job</h2>
Mỗi một Job chỉ có thể chọn một Freelancer. Nếu Employer đã chọn 1 Freelancer và 2 người vẫn chưa thống nhất Plan, thì Employer có thể bỏ chọn Freelancer này và rồi chọn một Freelancer khác.
<br>
Nếu 2 người đã thống nhất Plan thì Employer sẽ không thể bỏ chọn Freelancer. Và 2 ngời phải làm việc cho tới khi Job đạt trạng thái Fail hoặc Complete.

<h2>4, Employer và Freelancer thống nhất Plan</h2>
Mỗi Job có một Plan, Plan bao gồm nhiều Milestones. Employer sẽ là người tạo, chỉnh sửa nội dung, đặt tiền cho Milestone. Freelancer sẽ giao tiếp với Employer để Employer tạo ra một plan hợp lý cho cả 2 người. Sau khi tạo thì Employer phải đặt tiền vào tất cả Milestone để có thể gửi yêu cầu chấp thuận Plan cho Freelancer.
<br>
Trước khi gửi yêu cầu chấp thuận Plan, thì Employer sẽ chọn một ngày tháng là hạn cuối để Freelancer chọn chấp thuận hay không. Nếu quá hạn đó mà Freelancer không chọn, nghĩa là Freelancer không đồng ý Plan.
<br>
Nếu Freelancer không đồng ý Plan hoặc không phản hồi yêu cầu, thì Employer có quyền chỉnh sửa lại Plan và chọn Freelancer khác.
<br>
Nếu Freelancer đồng ý Plan thì Employer sẽ không thể chỉnh sửa Plan nữa và 2 người sẽ làm việc.

<h2>5, Freelancer và Employer làm việc dựa trên Milestone.</h2>
Trong quá trình hoàn thành từng Milestone. Freelancer và Employer sẽ giao tiếp và gửi kết quả thông qua tính năng Chat. Trong thời hạn của một Milestone, Freelancer phải nhấn nút "Tôi đã xong" của một Milestone để hệ thống ghi nhận và chuyển thông báo cho Employer để Employer quyết định Milestone đó đã hoàn thành hay chưa.
<br>
Nếu Milestone đó được Employer quyết là đã hoàn thành. Thì hệ thống sẽ gửi 80% tiền của Milestone đó cho Freelancer, hệ thống sẽ lấy 1 % tiền phí, 19% còn lại hệ thống sẽ giữ và trả cho Freelancer nếu Freelancer hoàn thành hết Milestone (100% complete, 0% fail), nếu không hoàn thành hết thì 19% đó sẽ được trả cho Employer.
<br>
</div>


@* <script>
    window.onload = function (){
        document.getElementById("headerOfLayoutPage").style.display = "none";
        document.getElementById("footerOfLayoutPage").style.display = "none";
    }
</script> *@