@page
@model PrivacyModel
@{
    ViewData["Title"] = "Điều khoản sử dụng";
}
<div style="width:80%;margin:auto">
<h1>@ViewData["Title"]</h1>

<h2>I. Điều khoản chung cho người dùng</h2>
    - Hồ sơ phải bao gồm các thông tin cá nhân với các thông tin chính xác.<br />
    - Ảnh đại diện cần phải rõ mặt, hoặc logo nếu là công ty/team.<br />
    - Mỗi tài khoản chỉ thuộc về một người dùng, không chia sẻ tài khoản cho người khác.<br />
    - Không lợi dụng hệ thống để thực hiện các hành vi trái pháp luật, gian lận, mọi phát hiện sẽ bị khóa tài khoản vĩnh viễn và chịu trách nhiệm hình sự theo quy định của pháp luật Việt Nam.<br />

<h2>II. Điều khoản sử dụng dành cho Freelancer</h2>
    <h3>
        1. Nhận offer
    </h3>
    - Một offer  thành công khi nó cung cấp những thông tin đầy đủ, chính xác và chuyên nghiệp. Chỉ nên gửi chào giá khi bạn có kỹ năng phù hợp và khả năng hoàn thành công việc<br />
    - Sau khi offer thành công, Employee sẽ thực hiện chia công việc thành các milestone các yêu cầu về mức độ hoàn thành, chi phí và thời gian hoàn thành, bạn sẽ bắt đầu công việc sau khi chấp nhận với thông tin các milestone được Employee đưa ra.<br />

    <h3>
        2. Chính sách thanh toán
    </h3>
    - Sau khi hoàn thành mỗi đầu theo milestone , bạn cần gửi thông tin để yêu cầu Employee review.<br />
    - Bạn sẽ nhận được 80% số tiền của milestone đó nếu Employer chấp nhận kết quả công việc của bạn. 19% còn lại bạn sẽ nhận được sau khi hoàn thành tất cả các milestone của công việc. 1% là phí nền tảng của chúng tôi. Nếu có bất cứ một milestone nào không được chấp nhận bạn sẽ không nhận được 19% còn lại.<br />
    - Hãy liên hệ với chúng tôi hoặc thực hiện đánh giá Employee một cách công tâm nhất nếu công việc của bạn không được đánh giá một cách chính xác và có dấu hiệu gian lận, chúng tôi sẽ giúp bạn giải quyết.<br />
    - Để rút tiền từ ví về tài khoản ngân hàng, hãy tạo một yêu cầu rút tiền từ hệ thống, để thực hiện giao dịch số tiền bạn yêu cầu rút cần nhỏ hơn hoặc bằng số tiền bạn đang có trong ví. Trong vòng 48h, hệ thống của chúng tôi sẽ thực hiện gửi tiền vào số tài khoản bạn đã đăng ký và có thông báo đến bạn.<br />


    <h2>
         III. Điều khoản sử dụng dành cho Employer
    </h2>
    <h3>
        1. Đăng job
    </h3>
    - Bạn cần trả phí 50.000 VND cho mỗi job được đăng trên nền tảng của chúng tôi trong vòng 7 ngày. Thời gian đăng được tính từ thời điểm bài đăng của bạn được duyệt. <br />
    - Thời gian duyệt bài trong vòng 48h, nếu sau thời gian trên có vấn đề với bài đăng của bạn chúng tôi sẽ liên hệ lại hoặc bạn hãy liên hệ với chúng tôi để được giải quyết.<br />
    <h3>2. Chính sách thanh toán</h3>
    - Khi tạo một bài đăng công việc , Employer cần tạo các milestone và đặt tiền vào tất cả milestone để có thể gửi yêu cầu tới freelancer và bắt đầu làm việc.<br />
    - Employer cần đặt cọc 100% số tiền của milestone đó và sẽ được hoàn lại tiền trong trường hơp milestone thất bại.<br />

    <h2>IV. Cam kết của OpusLink</h2>
    - Chúng tôi không bán hoặc cho thuê thông tin của bạn cho bên thứ ba ngoài hệ thống OpusLink mà không có sự cho phép của bạn.
</div>


@* <script>
    window.onload = function (){
        document.getElementById("headerOfLayoutPage").style.display = "none";
        document.getElementById("footerOfLayoutPage").style.display = "none";
    }
</script> *@