@page
@model OpusLink.User.Hosted.Pages.MS.EmployerViewAllMSModel
@{
    int soThuTu = 1;
}
<style>
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
</style>
<div class="row" style="margin:10px 10px 10px 10px">
    <div class="col-nd-1">
        <div class="circle">@soThuTu</div>
    </div>
    <div class="col-nd-5">

    </div>
    <div class="col-nd-2">

    </div>
    <div class="col-nd-4">

    </div>
</div>

