@page
@model OpusLink.User.Hosted.Pages.HistoryPayment.HistoryPaymentDetailModel
@{
}
<style>
    .container_historupayDetail{
        margin-top: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
    }
</style>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 container_historupayDetail">
        <h1 class="text-center mb-4">Mã hóa đơn</h1>
        <div class="row">
            <div class="offset-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lịch sử giao dịch</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Mã giao dịch</th>
                                    <th scope="col">Ngày Giao dịch</th>
                                    <th scope="col">Số tiền giao dịch</th>
                                    <th scope="col">Loại giao dịch</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.his.TransactionCode</td>
                                    <td>@Model.his.TransactionDate</td>
                                    <td>@((Model.his.Amount).ToString("#,###")) ₫</td>

                                    @if (Model.his.TransactionType == 1)
                                    {
                                        <td>Nạp tiền vào app</td>
                                    }
                                    else if (Model.his.TransactionType == 2)
                                    {
                                        <td>Rút từ app</td>
                                    }
                                    else if (Model.his.TransactionType == 3)
                                    {
                                        <td>Employer đặt tiền vào một Milestone</td>
                                    }
                                    else if (Model.his.TransactionType == 4)
                                    {
                                        <td>Phí đăng job</td>
                                    }
                                    else if (Model.his.TransactionType == 5)
                                    {
                                        <td>Freelancer nhận 80% tiền ở milestone khi milestone thành công</td>
                                    }
                                    else if (Model.his.TransactionType == 6)
                                    {
                                        <td>Freelancer nhận 19% của tất cả những milestone đã hoàn thành sau khi job kết thúc thành công</td>
                                    }
                                    else if (Model.his.TransactionType == 7)
                                    {
                                        <td>Employer nhận 19% của tất cả những milestone đã hoàn thành sau khi job kết thúc thất bại</td>
                                    }
                                    else if (Model.his.TransactionType == 8)
                                    {
                                        <td>Employer nhận 100% tiền của Milestone khi Milestone đó Fail</td>
                                    }
                                    else if (Model.his.TransactionType == 10)
                                    {
                                        <td>Nhận 1% của những milestone thành công</td>
                                    }
                                    else if (Model.his.TransactionType == 11)
                                    {
                                        <td>Employer lấy lại tiền đã đặt cọc</td>
                                    }
                                </tr>
                                <!-- You can add more rows dynamically with data -->
                            </tbody>
                        </table>
                        <a href="/HistoryPayment/HistoryPayment?UserId=@Model.his.UserID" class="btn btn-primary">Lịch sử giao dịch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
    


