@page
@model OpusLink.User.Hosted.Pages.HistoryPayment.HistoryPaymentModel
@{
}
<style>

	.mb-lg-5 {
		margin-top: 50px;
	}

	.card {
		box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
	}

	.avatar.sm {
		width: 2.25rem;
		height: 2.25rem;
		font-size: .818125rem;
	}

	.table-nowrap .table td,
	.table-nowrap .table th {
		white-space: nowrap;
	}

	table{
		overflow-y: scroll
	}
	.table > :not(caption) > * > * {
		padding: 0.75rem 1.25rem;
		border-bottom-width: 1px;
	}

	table th {
		font-weight: 600;
		background-color: #eeecfd !important;
	}

	.fa-arrow-up {
		color: #00CED1;
	}

	.fa-arrow-down {
		color: #FF00FF;
	}
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
	<div class="row">
		<div class="col-12 mb-3 mb-lg-5">
			<div class="position-relative card table-nowrap table-card">
				<div class="card-header align-items-center">
					@*<h5 class="mb-0">Latest Transactions</h5>
					<p class="mb-0 small text-muted">1 Pending</p>*@
				</div>
				<div class="table-responsive">
					<table class="table mb-0">
						<thead class="small text-uppercase bg-body text-muted">
							<tr>
								<th>#</th>
								<th>Ngày giao dịch</th>
								<th>Mã giao dịch</th>
								<th>Số tiền giao dịch</th>
								<th>Loại giao dịch</th>
							</tr>
						</thead>
						<tbody>

							@if (Model.his != null)
							{
								int i = 0;
								@foreach (var hp in Model.his.OrderByDescending(hp => hp.TransactionDate))
								{
									i++;
									<tr class="align-middle">
										<td>
											<a href="/HistoryPayment/HistoryPaymentDetail?payId=@hp.PaymentID">#@i</a>
											
										</td>
										<td>@hp.TransactionDate</td>
										<td>@hp.TransactionCode</td>
										<td>
											<div class="d-flex align-items-center">
												@if (hp.TransactionType == 1)
												{
													<span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
												}
												else if (hp.TransactionType == 2)
												{
													<span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
												}
												else if (hp.TransactionType == 3)
												{
													<span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
												}
												else if (hp.TransactionType == 4)
												{
													<span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
												}
												else if (hp.TransactionType == 5)
												{
													<span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
												}
												else if (hp.TransactionType == 6)
												{
													<span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
												}
												else if (hp.TransactionType == 7)
												{
													<span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
												}
												else if (hp.TransactionType == 8)
												{
													<span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
												}
												else if (hp.TransactionType == 9)
												{
													<a>--------------------------------</a>
												}
												else if (hp.TransactionType == 10)
												{
													<span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
												}
												else if (hp.TransactionType == 11)
												{
													<span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
												}
												<span>@((hp.Amount).ToString("#,###")) ₫</span>

											</div>
										</td>
										<td>
											@*//<span class="badge fs-6 fw-normal bg-tint-success text-success">@hp.TransactionType</span>*@
											@if (hp.TransactionType == 1)
											{
												<a>Nạp tiền vào app</a>
											}
											else if (hp.TransactionType == 2)
											{
												<a>Rút từ app</a>
											}
											else if (hp.TransactionType == 3)
											{
												<a>Employer đặt tiền vào một Milestone</a>
											}
											else if (hp.TransactionType == 4)
											{
												<a>Phí đăng job</a>
											}
											else if (hp.TransactionType == 5)
											{
												<a>Freelancer nhận 80% tiền ở milestone khi milestone success</a>
											}
											else if (hp.TransactionType == 6)
											{
												<a>Freelancer nhận 19% của tất cả những milestone đã hoàn thành sau khi job kết thúc thành công</a>
											}
											else if (hp.TransactionType == 7)
											{
												<a>Employer nhận 19% của tất cả những milestone đã hoàn thành sau khi job kết thúc thất bại</a>
											}
											else if (hp.TransactionType == 8)
											{
												<a>Employer nhận 100% tiền của Milestone khi Milestone đó Fail</a>
											}
											else if (hp.TransactionType == 9)
											{
												<a>--------------------------------</a>
											}
											else if (hp.TransactionType == 10)
											{
												<a>Freelancer chịu phí 1% của những milestone thành công</a>
											}
											else if (hp.TransactionType == 11)
											{
												<a>Employer lấy lại tiền đã đặt cọc</a>
											}
										</td>
									</tr>
								}
							}
							else
							{
								<h1> Không có thanh toán</h1>
							}

							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>