<!-- Footer -->
<footer class="bg-body-tertiary text-muted">
    <div class="container py-5">
        <div class="row">
            <!-- Company Info -->
            <div class="col-md-4">
                <h5 class="fw-bold">Công ty cổ phần Opuslink Việt Nam</h5>
                <p>Opuslink là nơi bạn có thể khám phá hàng ngàn cơ hội việc làm tự do từ các dự án khắp nơi tại Việt Nam. Với một cộng đồng đa dạng và phong phú của các freelancer và nhà tuyển dụng, chúng tôi tận dụng sức mạnh của mạng lưới để kết nối bạn với công việc phù hợp với kỹ năng và sở thích của bạn.</p>
            </div>
            <!-- Contact Info -->
            <div class="col-md-4">
                <h5 class="fw-bold">Liên hệ chúng tôi</h5>
                <p><i class="fas fa-home me-2"></i>Khu Giáo dục và Đào tạo Khu Công nghệ cao Hòa Lạc Km29, Đại lộ Thăng Long, Thạch Hoà, Thạch Thất, Hà Nội</p>
                <p><i class="fas fa-envelope me-2"></i>support@opuslink.com</p>
                <p><i class="fas fa-phone me-2"></i>(+84) 024.7308.1313</p>
            </div>
            <!-- Google Maps -->
            <div class="col-md-4">
                <h5 class="fw-bold">Vị trí</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14898.025365835763!2d105.5252892!3d21.0124167!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abc60e7d3f19%3A0x2be9d7d0b5abcbf4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBGUFQgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1712741753574!5m2!1svi!2s" width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="bg-light text-dark py-3">
        <div class="container text-center">
            <p class="m-0">© 2024 Opuslink. Bản quyền được bảo lưu.</p>
            <!-- <a class="text-reset fw-bold" href="https://localhost:7131/">Opuslink.com</a> -->
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
