@page
@inject IHttpContextAccessor HttpContextAccessor;
@model OpusLink.Admin.Hosted.Pages.Account.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập Admin - Opuslink</title>
    <link rel="stylesheet" href="~/css/Account.css">
    <script src="https://kit.fontawesome.com/10f63c3d6e.js" crossorigin="anonymous"></script>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("Password");
            var eyeIcon = document.getElementById("eyeIcon");

            if (passwordInput.type == "password") {
                passwordInput.type = "text";
                eyeIcon.className = "fa-solid fa-eye"; 
            } else {
                passwordInput.type = "password";
                eyeIcon.className = "fa-solid fa-eye-slash";
            }
        }

        window.onload = function () {
            document.getElementById('UserName').value = ''
            document.getElementById('Password').value = ''
        };
    </script>
    <style>
        .moda {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 10px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 20%; /* Full height */
        }
        /* Modal Content */
        .moda-content {
            background-color: #0FFF4B;
            border-radius: 10px;
            text-align: center;
            margin: auto;
            padding: 0;
            width: 50%;
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        .moda-body {
            padding: 20px 50px 20px 50px;
            border-radius: 10%;
        }
    </style>
</head>
<body>
    <div id="NotificationModal" class="moda">
        <!-- Modal Notification -->
        <div class="moda-content" id="notifaiDiv">
            <div class="moda-body">
                <h5 id="notifai">@(HttpContextAccessor.HttpContext.Session.GetString("Notification") ?? "")</h5>
            </div>
        </div>
    </div>
    <div class="wrapper container-fluid">
        <form method="post">
            <h1>Đăng nhập - Admin</h1>
            <div class="input-box">
                <label class="label">Tên đăng nhập</label>
                <input type="text" placeholder="Nhập tên đăng nhập" id="Username" name="Username" required>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
                <label class="label">Mật khẩu</label>
                <input type="password" placeholder="Nhập mật khẩu" id="Password" name="Password" required>
                <i class="fa-solid fa-eye-slash" id="eyeIcon" onclick="togglePasswordVisibility()"></i>
            </div>
            <div id="passwordError" class="alert alert-danger error-message"></div>
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
            <button type="submit" class="btn-confirm">Đăng nhập</button>
        </form>
        <script>
            //thong bao hien ra 3 giay roi an di
            function displayMessage() {
                var message = document.getElementById("NotificationModal");
                message.style.display = "block";
                setTimeout(function () {
                    message.style.display = "none";
                }, 3000); // 3000 milliseconds = 3 seconds
            }
        </script>
        @if (HttpContextAccessor.HttpContext.Session.GetInt32("NotiIsNew") == 1)
        {
            <script>
                displayMessage();
            </script>
            HttpContextAccessor.HttpContext.Session.SetInt32("NotiIsNew", 0);

        }
    </div>
</body>
</html>

