@page
@model OpusLink.Admin.Hosted.Pages.Account.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập Admin - Opuslink</title>
    <link rel="stylesheet" href="~/css/Account.css">
    <script src="https://kit.fontawesome.com/10f63c3d6e.js" crossorigin="anonymous"></script>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("Password");
            var eyeIcon = document.getElementById("eyeIcon");

            if (passwordInput.type == "password") {
                passwordInput.type = "text";
                eyeIcon.className = "fa-solid fa-eye"; 
            } else {
                passwordInput.type = "password";
                eyeIcon.className = "fa-solid fa-eye-slash";
            }
        }

        window.onload = function () {
            document.getElementById('UserName').value = ''
            document.getElementById('Password').value = ''
        };
    </script>
</head>
<body>
    <div class="wrapper container-fluid">
        <form method="post">
            <h1>Đăng nhập - Admin</h1>
            <div class="input-box">
                <label class="label">Tên đăng nhập</label>
                <input type="text" placeholder="Nhập tên đăng nhập" id="Username" name="Username" required>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
                <label class="label">Mật khẩu</label>
                <input type="password" placeholder="Nhập mật khẩu" id="Password" name="Password" required>
                <i class="fa-solid fa-eye-slash" id="eyeIcon" onclick="togglePasswordVisibility()"></i>
            </div>
            <div id="passwordError" class="alert alert-danger error-message"></div>
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
            }
            <button type="submit" class="btn-confirm">Đăng nhập</button>
        </form>
    </div>
</body>
</html>
